* {
  box-sizing: border-box;
}

body {
  background-color: #403730;
  color: #BF9169;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 30vh;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px 50px;
}

.counter {
  font-size: 40px;
  margin-top: 10px;
}

@media (max-width: 400px) {
  body {
    flex-direction: column;
  }
}
